<h1>Uživatelé</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Ukázat', user %></td>
        <% if current_user.admin? && !current_user?(user) %>
        <td><%= link_to 'Editovat', edit_user_path(user) %></td>
        <td><%= link_to 'Smazat', user, method: :delete, data: { confirm: 'Určitě chcete smazat tohoto uživatele?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
