<% provide(:title, "Registrace") %>
<h1>Zaregistruj se nyní!</h1>
<%= form_for(@user) do |f| %>
	<%= render 'shared/errors' %>

	<%= f.label :name, "Jméno" %>
	<%= f.text_field :name %>

	<%= f.label :email, "Email" %>
	<%= f.text_field :email %>

	<%= f.label :password, "Heslo" %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Zopakujte heslo" %>
	<%= f.password_field :password_confirmation %>
	<br />

	<%= f.submit "Vytvořit účet", class: "btn btn-primary" %>


<% end %>
<%= link_to 'Zpět', users_path %>
