<p id="notice"><%= notice %></p>

  <h2><%= @post.heading %></h2>


<div class="content">
  <%= @post.content %>
</div>

<div class="by-user">
    <b><%= User.find_by(id: @post.user_id).name %></b>
</div>

<div class="rating">
	Hodnocení = <span id="post-rating"><%= @postRating %></span>


  <% unless Rating.all.any? {|r| r.post == @post && r.user == current_user } %>
      <div id="rating-form">
        <br />

        Ohodnoťte od jedné do pěti jako ve škole:

          
        <%= render 'ratings/form' %>
      </div>
  <% end %>
</div>

<%= link_to 'Zpět', root_url %>
    
<% if current_user?(@post.user) || admin_user?(@post.user) %>
	| <%= link_to "Smazat", @post, method: :delete,
                                  data: { confirm: "Určite chcete smazat tento článek?" },
                                  title: @post.heading %>
    | <%= link_to "Editovat", edit_post_path(@post) %>
<% end %>
<div id="comments-count">
<%= @post.comments.count %> komentářů
</div>

<div id="comments-container">
<%= render @comments %>
</div>

<% if signed_in? %>
<%= render 'comments/form' %>
<% end %>
