<p id="notice"><%= notice %></p>

  <h2><%= @post.heading %></h2>


<div class="content">
  <%= @post.content %>
</div>

<div class="by-user">
    <b><%= User.find_by(id: @post.user_id).name %></b>
</div>


<%= link_to 'Zpět', root_url %>
    
<% if current_user?(@post.user) || admin_user?(@post.user) %>
| <%= link_to "Smazat", @post, method: :delete,
                                  data: { confirm: "Určite chcete smazat tento článek?" },
                                  title: @post.heading %>
<% end %>
